@charset "UTF-8";

/* ESTILOS PARA TELAS */

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.g{
    height: 250px;
    width: 300px;

}

.gh{
    height: 250px;
    width: 200px;
}

p, h{
    margin: 10px;
    padding: 10px;
}