@charset "UTF-8";

/*Mobile First*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../imag/back-phone.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.596);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;

}

img{
    display: block;
    margin: auto;
}

#cel{
    display: block;
}

#tab{
    display: none;
}

#imp{
    display: none;
}

#pc{
    display: none;
}

#tv{
    display: none;
}