@charset "UTF-8";

header{

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(27, 27, 27);
    height: 150px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0px;
    box-shadow: 1px 1px 15px black;
}

header > h1{
    text-align: center;
    padding-top: 50px;
    color: white;
    margin: 0px;

}

header > h2{
    text-align: center;
    padding-top: 20px;
    color: white;
    margin: 0px;
}

body{
    margin: 0px;
    background-color: rgb(212, 212, 212);
}

div{
    background-color: white;
    width: 500px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 15px black;

}

div > ul{
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 20px;
}

footer{
    background-color: black;
    height: 70px;
}

footer > p{
    text-align: center;
    padding-top: 5px;
    color: white;
}

p > a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

main > img{
    margin: 0 auto;
    display: block;
}