@charset "UTF-8";

/* ESTILOS PARA IMPRESSORAS */

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
    font-size: 1em;
}

menu{
    display: none;
}

.printnone{
    display: none;
}

article::after{
    content: 'Este artigo foi escrito com lorem';
}