@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(94, 93, 93);
}

header > h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

menu{
    display: none;
}

#men{
    background-color: rgb(32, 32, 32);
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

#men:hover{
    background-color: white;
    color: black;
}


li > a{
    color: white;
    background-color: rgb(70, 69, 69);
    padding: 10px;
    display: block;
    text-align: center;
    border-top: 2px solid rgb(49, 49, 49);
}

li > a:hover{
    background-color: lightgray;
    font-weight: bold;
}

main{
    width: 90vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 15px;
    margin-top: 10px;
}

article > p{
    text-align: justify;
    text-indent: 20px;
}

body{
    background-color: rgb(221, 219, 219);
}